@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
}

.asd1 {
  background: radial-gradient(50% 2900.76% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211e2e 100%);
  box-shadow: 0px 4px 4px rgba(192, 183, 232, 0.01);
  border-radius: 90px;
}

.asd {
  background: radial-gradient(50% 50% at 50% 50%, #433d60 0%, #211e2e 100%);
  border-radius: 40px;
}

.asd2 {
  background: linear-gradient(267.61deg, #c0b7e8 -0.6%, #8176af 98.31%);
}
